.App {
  font-family: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.FlexProfileDrawer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: -90px;
  margin-right: 25px;
}

.FlexColumProfile > h1 {
  text-align: center;
}

.FlexProfileDrawerRow {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
}

.FlexRow {
  display: flex;
  flex-direction: row;
}

.parent {
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: 1rem;
}
.slider-container {
 /* if you want to have a scrollbar, you can add overflow here */ 
  overflow-x: auto;
  display: flex;
  align-items: center;
  margin: 0rem 2rem;
  padding: 0px;
  max-width: 350px;
  scroll-behavior: smooth;
}
.slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn {
  position: absolute;
  box-shadow: 0 0 6.1px 0.9px grey;
  padding: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: grey;
  text-align: center;
  color: white;
  border-radius: 50%;
}
.prev {
  left: 8.9rem;
}
.next {
  right: 1rem;
}
.disable {
  opacity: 0.5;
 pointer-events: none;
}
.child {
  padding: 5px 20px;
  background: #59eb97;
  text-align: center;
  width: 100%;
  margin-right: 10px;
  border-radius: 21px;
}

/******************************************/
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal {
  padding: 1em;
  max-width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);

  & > * {
    margin: 0 0 0.5rem 0;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

/* extra styling */

h1 em {
  color: var(--cyan-9);
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.button {
  border: 0;
  cursor: pointer;
  background: var(--gray-8);
  color: var(--gray-2);
  font-weight: 700;
  padding: var(--size-2) var(--size-4);
}

.button:hover,
.button:focus {
  background: var(--cyan-9);
}

form {
  display: grid;
  gap: 1em;
}

#image {
  float: left;
}
.text {
  font-size: 20px;
  padding-left: 20px;
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center
}

#leftNavCol {
  position: fixed;
  top: 100px;
  bottom: 0;
}